*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
.form-container{
    position: relative;
    margin: 50px auto;
    width: 500px;
    height: auto;
    border-radius: 8px;
    border: 1px solid #95A0A7;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 43px;
    z-index: 900;

}
/* .form-card::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 500px;
    height: 600px;
    border-radius: 5px;
    background: transparent;
    box-shadow: -15px 10px 4px 0px rgba(255, 153, 0, 0.30);
    padding: 43px;
    box-sizing: border-box;
    z-index: -1;
} */
.form-title{
    text-align: center;
    font-size: 35px;
    margin: 0;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.form label{
    display: block;
    color: #2A414F;
    font-size: 17px;
    margin: 10px 10px;

}
.form input{
    width: 415px;
    height: 55px;
    border-radius: 5px;
    border: 1px solid #95A0A7;
    margin-bottom: 20px;
    padding: 0 10px;
    font-size: 1.4rem;
}
.form input[type="submit"]{
    border-radius: 5px;
    background: rgba(255, 153, 0, 0.30);
    color: #0E161A;
    font-size: 21px;
    font-weight: 400;
    margin-top: 24px;
    width: 100%;
    cursor: pointer;
}
.form .link-button{
    text-align: center;
    margin: 10px 0;
}
